<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinwq.chunting.dao.IGoodsDao" >
  <resultMap id="BaseResultMap" type="com.yinwq.chunting.entity.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="INTEGER" />
    <result column="total_agent_price" property="totalAgentPrice"  />
    <result column="first_agent_price" property="firstAgentPrice" jdbcType="DECIMAL" />
    <result column="second_agent_price" property="secondAgentPrice" jdbcType="DECIMAL" />
    <result column="third_agent_price" property="thirdAgentPrice" jdbcType="DECIMAL" />
    <result column="derivative_price" property="derivativePrice" jdbcType="DECIMAL" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_name, goods_type , total_agent_price, first_agent_price, second_agent_price, third_agent_price, 
    derivative_price, market_price, goods_stock, create_time, update_time
  </sql>
  
  <sql id="Select_List_Criteria">
  	<if test="goodsName != null and goodsName != ''" >
  		and goods_name LIKE CONCAT((CONCAT('%' , #{goodsName} , '%')))
     </if>
   	 <if test="goodsType != null" >
      	and goods_type = #{goodsType,jdbcType=INTEGER}
     </if>
     <if test="totalAgentPrice != null" >
       	and total_agent_price = #{totalAgentPrice,jdbcType=DECIMAL}
     </if>
     <if test="firstAgentPrice != null" >
       	and first_agent_price = #{firstAgentPrice,jdbcType=DECIMAL}
     </if>
     <if test="secondAgentPrice != null" >
       	and second_agent_price = #{secondAgentPrice,jdbcType=DECIMAL}
     </if>
     <if test="thirdAgentPrice != null" >
       	and third_agent_price = #{thirdAgentPrice,jdbcType=DECIMAL}
     </if>
     <if test="derivativePrice != null" >
       	and derivative_price = #{derivativePrice,jdbcType=DECIMAL}
     </if>
     <if test="marketPrice != null" >
       	and market_price = #{marketPrice,jdbcType=DECIMAL}
     </if>
     <if test="goodsStock != null" >
       	and goods_stock = #{goodsStock,jdbcType=INTEGER}
     </if>
     <if test="createTime != null" >
       	and create_time = #{createTime,jdbcType=TIMESTAMP}
     </if>
     <if test="updateTime != null" >
       	and update_time = #{updateTime,jdbcType=TIMESTAMP}
     </if>
     <if test="startTime!=null and startTime!=''">
		<![CDATA[
			and DATE_FORMAT(#{startTime}, '%Y-%m-%d') <=  create_time
	 	]]>
	 </if>
	 <if test="endTime!=null and endTime!=''">
		<![CDATA[
			and DATE_FORMAT(#{endTime}, '%Y-%m-%d') >=  create_time
	 	]]>
	 </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectGoodsList" resultMap="BaseResultMap" parameterType="com.yinwq.chunting.entity.Goods" >
    select 
    	<include refid="Base_Column_List" />
    from t_goods
     where 1=1
   	 	<include refid="Select_List_Criteria"></include>
	 order by create_time
	 limit #{startRow}, #{endRow}
  </select>
  
  <select id="selectGoodsListCount" resultType="java.lang.Integer" parameterType="com.yinwq.chunting.entity.Goods" >
    select 
    	count(*)
    from t_goods
     where 1=1
   	 	<include refid="Select_List_Criteria"></include>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.yinwq.chunting.entity.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into t_goods (id, goods_name, goods_type , total_agent_price, 
      first_agent_price, second_agent_price, third_agent_price, 
      derivative_price, market_price, goods_stock, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, #{totalAgentPrice,jdbcType=DECIMAL}, 
      #{firstAgentPrice,jdbcType=DECIMAL}, #{secondAgentPrice,jdbcType=DECIMAL}, #{thirdAgentPrice,jdbcType=DECIMAL}, 
      #{derivativePrice,jdbcType=DECIMAL}, #{marketPrice,jdbcType=DECIMAL}, #{goodsStock,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yinwq.chunting.entity.Goods" >
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="totalAgentPrice != null" >
        total_agent_price,
      </if>
      <if test="firstAgentPrice != null" >
        first_agent_price,
      </if>
      <if test="secondAgentPrice != null" >
        second_agent_price,
      </if>
      <if test="thirdAgentPrice != null" >
        third_agent_price,
      </if>
      <if test="derivativePrice != null" >
        derivative_price,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="goodsStock != null" >
        goods_stock,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="totalAgentPrice != null" >
        #{totalAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="firstAgentPrice != null" >
        #{firstAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="secondAgentPrice != null" >
        #{secondAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdAgentPrice != null" >
        #{thirdAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="derivativePrice != null" >
        #{derivativePrice,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null" >
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinwq.chunting.entity.Goods" >
    update t_goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="totalAgentPrice != null" >
        total_agent_price = #{totalAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="firstAgentPrice != null" >
        first_agent_price = #{firstAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="secondAgentPrice != null" >
        second_agent_price = #{secondAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdAgentPrice != null" >
        third_agent_price = #{thirdAgentPrice,jdbcType=DECIMAL},
      </if>
      <if test="derivativePrice != null" >
        derivative_price = #{derivativePrice,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null" >
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinwq.chunting.entity.Goods" >
    update t_goods
    set 
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=INTEGER},
      total_agent_price = #{totalAgentPrice,jdbcType=DECIMAL},
      first_agent_price = #{firstAgentPrice,jdbcType=DECIMAL},
      second_agent_price = #{secondAgentPrice,jdbcType=DECIMAL},
      third_agent_price = #{thirdAgentPrice,jdbcType=DECIMAL},
      derivative_price = #{derivativePrice,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      goods_stock = #{goodsStock,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>